<% include ../partials/header %>

<div class="container">
  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
  <h2>FAVORITES</h2>
  <br>
  <br>
  <input type="text" id="favorite-input">

  <button type="button" class="button" id="add-favorite">Add Favorite</button>

  <ul id='favorites-list'>
    <% user.local.favorite.forEach(function(f) { %>
      <li id="<%= f._id %>" class="favorite">
        <a href="/users/<%= currentUser.id %>/favorites/<%= f._id %>"><h3><%= f.name %></h3></a>
        <br>
        <button class="edit">Edit</button>
        <button class="delete">X</button>
      </li>
    <% }) %>
  </ul>

  <script type="text/javascript">
    var $favoritesList = $('#favorites-list')
    var $favoritesInput = $('#favorite-input')
    var $addFavorite = $('#add-favorite')
    var currentUserId = <%- JSON.stringify(currentUser.id) %>

    // event delegation for the delete favorites button
    $favoritesList.on('click', 'li button.delete', function() {
      var favId = $(this).parent().attr('id')
      var requestSettings = {
        method: 'delete',
        url: `/users/${currentUserId}/favorites/${favId}`
      }
      $.ajax(requestSettings).done(function(d) {
        console.log(d)
        $('#' + favId).remove()
      })
    })

    // event delegation for the edit favorites button
    $favoritesList.on('click', 'li button.edit', function() {
      $(this).parent().append(editForm)
      editForm.slideDown()
      $('.edit-input').val($(this).prev().text())
    })

    // event listener to add a favorites
    $addFavorite.on('click', function() {
      var requestSettings = {
        method: 'post',
        url: `/users/${currentUserId}/favorites`,
        data: JSON.stringify({
          name: $favoritesInput.val()
        }), contentType: 'application/json'
      }
      $.ajax(requestSettings).done(function(user) {
        var newFavorite = user.local.favorite
        appendFavorite(newFavorite)
      })
      $favoritesInput.val("")
    })

    // function to append a new favorite to the favorites list
    function appendFavorite(favorite) {
      $favoritesList.html('')
      favorite.forEach(function(f) {
        var theLi = $('<li>').attr('id', f._id).addClass('favorite')
        theLi.html(`<a href="/users/${currentUserId}/favorites/${f._id}"><h3> ${f.name} </h3></a><br>`)

        var editButton = $('<button>').addClass('edit')
        editButton.text('Edit')
        theLi.append(editButton)

        var deleteButton = $('<button>').addClass('delete')
        deleteButton.text('X')
        theLi.append(deleteButton)
        $favoritesList.append(theLi)

      })
    }

    // edit favorites form
    var editForm = $('<div>').attr('id', 'edit-form')
    editForm.append('<input type="text" class="edit-input">')
    editForm.append('<button class="button">Update</button>')
    editForm.hide()

    // event listener for the update favorites button
    $favoritesList.on('click', '#edit-form button', function() {
      var favId = $(this).parent().parent().attr('id')
      var updatedFavorite = $(this).prev().val()
      var requestSettings = {
        method: 'patch',
        url: `/users/${currentUserId}/favorites/${favId}`,
        data: JSON.stringify({
          name: updatedFavorite
        }), contentType: 'application/json'
      }
      $.ajax(requestSettings).done(function(d) {
        if (d.success) {
          console.log(d.updatedTask);
          $(`#${favId} a`).text(d.updatedTask)
          editForm.slideUp()
        }
      })
    })

  </script>

  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
</div><!-- closing .container -->

<% include ../partials/footer %>
