<% include ../partials/header %>

<div class="container">
  <div class="row">
    <% if(favorite.name) { %>
      <h2><%= favorite.name %></h2>
    <% } else { %>
      <h2><%= favorite %></h2>
    <% } %>
    <div class="col-sm-6 blog">
      <h2>RELATED POSTS</h2>
      <br>
      <ul class="related">
        <% data.statuses.forEach(function(f) { %>
          <li class="related">
            <img src="<%= f.user.profile_image_url %>">
            <span><h4><%= f.user.name %></h4></span><br>
            <span><%= f.text %></span>
          </li>
          <hr>
          <br>
          <br>
        <% }) %>
      </ul>
    </div>

    <div class="col-sm-6 projects">
      <h2>MOST RETWEETED</h2>
      <ul id="retweet-list">
      </ul>

      <div class="retweeted">
      <script type="text/javascript">
        var retrievedData = <%- JSON.stringify(data) %>
        var uniqueData = <%- JSON.stringify(uniqueData) %>
        var $retweetList = $('#retweet-list')

        uniqueData.sort(function(a, b) {
          return parseFloat(b.retweet_count) - parseFloat(a.retweet_count)
        })

        uniqueData.forEach(function(f) {
          if(f.retweet_count > 0) {
            var $theLi = $('<li class="retweet"><br><h4>RETWEETS</h4>')
            $theLi.append(`<span>${f.retweet_count}</span><br><br>`)
            $theLi.append(`<span>${f.text}</span><hr>`)
            $retweetList.append($theLi)
          }
        })
      </script>
    </div>
    </div>
  </div>
</div>

  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
</div><!-- closing .container -->

<% include ../partials/footer %>
